## Overview of the data frame

In [52]:
#import pandas to perfom data analysis with python
import pandas

#to use time stamps we need to use datetime library
from datetime import datetime
from pytz import utc

#we want to use .read from pandas libr to show the data in a great format
data = pandas.read_csv("reviews.csv", parse_dates=['Timestamp'])

In [53]:
data

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

## Selecting data from the  dataframe

### Select a column

In [4]:
#TO EXTRACT THE MEAN WE NEED TO EXTRACT COLUMN
data['Rating']

0        4.0
1        4.0
2        4.0
3        5.0
4        4.5
        ...
44995    4.0
44996    5.0
44997    5.0
44998    5.0
44999    5.0
Name: Rating, Length: 45000, dtype: float64

In [5]:
# This gives us the mean 
data['Rating'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0        4.0
1        4.0
2        4.0
3        5.0
4        4.5
        ...
44995    4.0
44996    5.0
44997    5.0
44998    5.0
44999    5.0
Name: Rating, Length: 45000, dtype: float64>

In [8]:
# TO SELCT MULTIPLE COLUMN
data[['Course Name', 'Rating']]

                                             Course Name  Rating
0      The Python Mega Course: Build 10 Real World Ap...     4.0
1      The Python Mega Course: Build 10 Real World Ap...     4.0
2      The Python Mega Course: Build 10 Real World Ap...     4.0
3      The Python Mega Course: Build 10 Real World Ap...     5.0
4      The Python Mega Course: Build 10 Real World Ap...     4.5
...                                                  ...     ...
44995                 Python for Beginners with Examples     4.0
44996  The Python Mega Course: Build 10 Real World Ap...     5.0
44997  The Python Mega Course: Build 10 Real World Ap...     5.0
44998                 Python for Beginners with Examples     5.0
44999  The Python Mega Course: Build 10 Real World Ap...     5.0

[45000 rows x 2 columns]

In [9]:
#. A SERIES IS ANOTHER DATA TYPE OF PANDA TTHEY REPRESENT SINGLE COLUMNS
type(data['Rating'])

pandas.core.series.Series

#### SELECTING A ROW

In [10]:
data.iloc[3]

Course Name    The Python Mega Course: Build 10 Real World Ap...
Timestamp                              2021-04-02 03:33:24+00:00
Rating                                                       5.0
Comment                                                      NaN
Name: 3, dtype: object

### Selecting multiple rows

In [12]:
data.iloc[1:3]

,Course Name,Timestamp,Rating,Comment
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN

### Selecting a section

In [13]:
data[['Course Name', 'Rating']].iloc[1:3]

                                             Course Name  Rating
0      The Python Mega Course: Build 10 Real World Ap...     4.0
1      The Python Mega Course: Build 10 Real World Ap...     4.0
2      The Python Mega Course: Build 10 Real World Ap...     4.0
3      The Python Mega Course: Build 10 Real World Ap...     5.0
4      The Python Mega Course: Build 10 Real World Ap...     4.5
...                                                  ...     ...
44995                 Python for Beginners with Examples     4.0
44996  The Python Mega Course: Build 10 Real World Ap...     5.0
44997  The Python Mega Course: Build 10 Real World Ap...     5.0
44998                 Python for Beginners with Examples     5.0
44999  The Python Mega Course: Build 10 Real World Ap...     5.0

[45000 rows x 2 columns]

In [14]:
data[['Course Name', 'Rating']].iloc[1:3]

                                         Course Name  Rating
1  The Python Mega Course: Build 10 Real World Ap...     4.0
2  The Python Mega Course: Build 10 Real World Ap...     4.0

### Selecting a cell

In [15]:
data['Timestamp']

0        2021-04-02 06:25:52+00:00
1        2021-04-02 05:12:34+00:00
2        2021-04-02 05:11:03+00:00
3        2021-04-02 03:33:24+00:00
4        2021-04-02 03:31:49+00:00
                   ...
44995    2018-01-01 01:11:26+00:00
44996    2018-01-01 01:09:56+00:00
44997    2018-01-01 01:08:11+00:00
44998    2018-01-01 01:05:26+00:00
44999    2018-01-01 01:01:16+00:00
Name: Timestamp, Length: 45000, dtype: object

In [16]:
data['Timestamp'].iloc[2]

'2021-04-02 05:11:03+00:00'

In [19]:
Selecting cell rating 
data['Rating'].iloc[3]

5.0

### 3. Filtering the Data based on conditions

## One condition

In [20]:
# ratings greater than 4 rows 0,1,2 didnt printout 
data[data['Rating'] > 4]

,Course Name,Timestamp,Rating,Comment
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
5,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 01:10:06+00:00,4.5,NaN
6,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 00:44:54+00:00,4.5,NaN
7,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 23:42:02+00:00,5.0,NaN
...,...,...,...,...
44994,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:19:24+00:00,5.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [21]:

len(data[data['Rating'] > 4])

29758

In [22]:
# This states the amount of count and values 
data[data['Rating'] > 4].count()

Course Name    29758
Timestamp      29758
Rating         29758
Comment         4927
dtype: int64

In [27]:
d2 = data[data['Rating'] > 4]
d2['Rating'].mean()

,Course Name,Timestamp,Rating,Comment
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
5,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 01:10:06+00:00,4.5,NaN
6,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 00:44:54+00:00,4.5,NaN
7,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 23:42:02+00:00,5.0,NaN
...,...,...,...,...
44994,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:19:24+00:00,5.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [28]:
d2 = data[data['Rating'] > 4]
d2['Rating'].mean()

4.87316015861281

### Multiple Conditions

In [29]:
data[]

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [37]:
#GET THE DATA FRAME of MULTIPLE CONDITIONS
data[data['Rating'] > 4]

,Course Name,Timestamp,Rating,Comment
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
5,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 01:10:06+00:00,4.5,NaN
6,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 00:44:54+00:00,4.5,NaN
7,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 23:42:02+00:00,5.0,NaN
...,...,...,...,...
44994,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:19:24+00:00,5.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [39]:
#import pandas to perfom data analysis with python
import pandas
#we want to use .read from pandas libr to show the data in a great format
data = pandas.read_csv("reviews.csv")

In [40]:
data

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [42]:
data[(data['Rating'] > 4) & (data['Course Name'] == 'The Python Mega Course: Build 10 Real World Applications')]['Rating']

3        5.0
4        4.5
5        4.5
6        4.5
7        5.0
        ...
44992    5.0
44994    5.0
44996    5.0
44997    5.0
44999    5.0
Name: Rating, Length: 24260, dtype: float64

In [43]:
#. TO GET THE MEAN (AVERAGE) OF THE RATING COLUMN
data[(data['Rating'] > 4) & (data['Course Name'] == 'The Python Mega Course: Build 10 Real World Applications')]['Rating'].mean()

4.875700741962078

###   4.   TIME-BASED FILTERING

In [55]:
#filtering time stamps from csv
data[(data['Timestamp'] >= datetime(2018, 7, 1, tzinfo=utc)) & (data['Timestamp'] <= datetime(2021, 12, 31, tzinfo=utc))]

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
37550,Python for Beginners with Examples,2018-07-01 02:25:55+00:00,5.0,NaN
37551,Python for Beginners with Examples,2018-07-01 00:37:45+00:00,4.0,NaN
37552,The Python Mega Course: Build 10 Real World Ap...,2018-07-01 00:33:18+00:00,5.0,NaN
37553,The Python Mega Course: Build 10 Real World Ap...,2018-07-01 00:14:11+00:00,5.0,NaN
37554,The Python Mega Course: Build 10 Real World Ap...,2018-07-01 00:08:38+00:00,4.0,"just did the hello world, I do not know how go..."

In [47]:
data['Timestamp']

0       2021-04-02 06:25:52+00:00
1       2021-04-02 05:12:34+00:00
2       2021-04-02 05:11:03+00:00
3       2021-04-02 03:33:24+00:00
4       2021-04-02 03:31:49+00:00
                   ...
44995   2018-01-01 01:11:26+00:00
44996   2018-01-01 01:09:56+00:00
44997   2018-01-01 01:08:11+00:00
44998   2018-01-01 01:05:26+00:00
44999   2018-01-01 01:01:16+00:00
Name: Timestamp, Length: 45000, dtype: datetime64[ns, UTC]

### 5 .   DATA ANALYSIS = DATA INTO INFORMATION

### Average Rating

In [56]:
#For all courses and TIMES
data['Rating'].mean()

4.442155555555556

### Average rating for one course

In [57]:
#we need to apply the condtions
data[data['Course Name']=='Python for Beginners with Examples']

,Course Name,Timestamp,Rating,Comment
60,Python for Beginners with Examples,2021-03-31 07:21:59+00:00,5.0,really enjoying it so far
74,Python for Beginners with Examples,2021-03-30 16:18:04+00:00,5.0,NaN
88,Python for Beginners with Examples,2021-03-30 07:29:05+00:00,5.0,NaN
100,Python for Beginners with Examples,2021-03-30 01:01:55+00:00,4.0,NaN
136,Python for Beginners with Examples,2021-03-28 14:23:29+00:00,3.0,NaN
...,...,...,...,...
44978,Python for Beginners with Examples,2018-01-01 14:53:11+00:00,5.0,NaN
44985,Python for Beginners with Examples,2018-01-01 08:44:16+00:00,5.0,NaN
44986,Python for Beginners with Examples,2018-01-01 08:34:07+00:00,5.0,NaN
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN

In [58]:
# To get the rating for each course
data[data['Course Name']=='Python for Beginners with Examples']['Rating']

60       5.0
74       5.0
88       5.0
100      4.0
136      3.0
        ...
44978    5.0
44985    5.0
44986    5.0
44995    4.0
44998    5.0
Name: Rating, Length: 4821, dtype: float64

In [59]:
#.mean() to get the average data course
data[data['Course Name']=='Python for Beginners with Examples']['Rating'].mean()

4.300974901472723

### Average rating for a particular course timestamp

In [63]:
data[(data['Timestamp'] >= datetime(2018, 7, 1, tzinfo=utc)) & 
     (data['Timestamp'] <= datetime(2018, 12, 31, tzinfo=utc))]['Rating'].mean()

4.364709443099273

### Average rating for a particular period timestamp for a  course

In [64]:
data[(data['Timestamp'] >= datetime(2018, 7, 1, tzinfo=utc)) & 
     (data['Timestamp'] <= datetime(2018, 12, 31, tzinfo=utc)) &
    (data['Course Name']=='Python for Beginners with Examples')
    ]['Rating'].mean()

4.291282778171509

### Average of uncommented ratings

In [65]:
#average of rating with no comments
data[data['Comment'].isnull()]

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [66]:
# THE MEAN VALUE FOR UNCOMMENTED RATINGS
data[data['Comment'].isnull()]['Rating'].mean()

4.433679746603492

### Average of commented ratings

In [68]:
data[data['Comment'].notnull()]['Rating'].mean()

4.489777908515959

### Number of uncommented ratings

In [70]:
data[data['Comment'].isnull()]['Rating'].count()

38201

### Number of commented ratings

In [71]:
data[data['Comment'].notnull()]['Rating'].count()

6799

### Number of comments containing a certain word

In [72]:
#number of comments about instructor having an certain accent 
data[data['Comment'].str.contains('accent', na=False)]

,Course Name,Timestamp,Rating,Comment
2099,The Complete Python Course: Build 10 Professio...,2021-01-24 19:02:55+00:00,4.5,The course is great but because of the instruc...
3025,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 14:46:21+00:00,2.5,Sometimes it is difficult to understand the in...
3477,The Python Mega Course: Build 10 Real World Ap...,2020-12-18 06:00:42+00:00,4.5,"A little trouble at first with the accent, but..."
3754,The Python Mega Course: Build 10 Real World Ap...,2020-12-08 13:42:00+00:00,5.0,I was looking for some time for the good Pytho...
4690,Learn GIS in One Hour,2020-11-11 17:23:12+00:00,5.0,I am having trouble seeing the video and he is...
...,...,...,...,...
43785,Python for Beginners with Examples,2018-01-26 09:19:40+00:00,4.0,Please find the English review below!\n\nDiese...
44040,The Python Mega Course: Build 10 Real World Ap...,2018-01-20 01:06:54+00:00,5.0,HIGHLY RECOMMEND THIS COURSE! BUT PLEASE READ ...
44471,Learn GIS in One Hour,2018-01-11 11:11:12+00:00,4.5,This is a really nice course for beginners who...
44483,The Python Mega Course: Build 10 Real World Ap...,2018-01-11 05:06:48+00:00,3.0,Speakers accent was a bit difficult for me to ...
44617,The Python Mega Course: Build 10 Real World Ap...,2018-01-08 18:39:34+00:00,5.0,First course that actually covers everything y...

In [73]:
#number of comments about instructor having an certain accent ratings
data[data['Comment'].str.contains('accent', na=False)]['Rating']

2099     4.5
3025     2.5
3477     4.5
3754     5.0
4690     5.0
        ...
43785    4.0
44040    5.0
44471    4.5
44483    3.0
44617    5.0
Name: Rating, Length: 77, dtype: float64

In [74]:
#number of comments about instructor having an certain accent ratings counted
data[data['Comment'].str.contains('accent', na=False)]['Rating'].count()

77

### Average of commented ratings with "accents" in a comment

In [75]:
#number of comments about instructor having an certain accent ratings average
data[data['Comment'].str.contains('accent', na=False)]['Rating'].mean()

3.8636363636363638